{{ if .Values.puppet.enabled }}
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ template "foreman.fullname" . }}-puppet
  labels:
    app: {{ template "foreman.name" . }}
    chart: {{ template "foreman.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    component: puppet
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ template "foreman.name" . }}
      release: {{ .Release.Name }}
      component: puppet
  template:
    metadata:
      labels:
        app: {{ template "foreman.name" . }}
        release: {{ .Release.Name }}
        component: puppet
    spec:
      containers:
        - name: puppet
          image: "{{ .Values.puppet.image.repository }}:{{ .Values.puppet.image.tag }}"
          imagePullPolicy: {{ .Values.puppet.image.pullPolicy }}
          ports:
            - name: puppet
              containerPort: {{ .Values.puppet.service.internalPort }}
              protocol: TCP
            - name: proxy
              containerPort: {{ .Values.puppet.proxy.service.internalPort }}
              protocol: TCP
          readinessProbe:
            httpGet:
              port: puppet
              path: /stage/status/whatever
              scheme: HTTPS
              httpHeaders:
              - name: Accept
                value: "*/*"
            periodSeconds: 20
            failureThreshold: 5
            timeoutSeconds: 10
          volumeMounts:
            - mountPath: /var/lib/puppet
              name: puppet
            - mountPath: /etc/puppet
              name: puppetconfig
            - mountPath: /var/lib/puppet
              name: puppet
            - mountPath: /smart-proxy/config/settings.yml
              name: proxyconfig
              subPath: settings.yml
            - mountPath: /smart-proxy/config/settings.d/puppet.yml
              name: proxyconfig
              subPath: puppet.yml
            - mountPath: /smart-proxy/config/settings.d/puppet_proxy_legacy.yml
              name: proxyconfig
              subPath: puppet_proxy_legacy.yml
            - mountPath: /smart-proxy/config/settings.d/puppetca.yml
              name: proxyconfig
              subPath: puppetca.yml
          resources:
{{ toYaml .Values.puppet.resources | indent 12 }}
        - name: puppet-prom-exporter
          image: quay.io/prometheus/node-exporter:latest
          imagePullPolicy: Always
          ports:
            - name: prometheus
              protocol: TCP
              containerPort: 9100
          volumeMounts:
            - mountPath: /data
              name: puppet
          args:
            - --collector.textfile.directory=/data/prometheus-dropzone
            - --no-collector.arp
            - --no-collector.bcache
            - --no-collector.bonding
            - --no-collector.conntrack
            - --no-collector.cpu
            - --no-collector.diskstats
            - --no-collector.edac
            - --no-collector.entropy
            - --no-collector.exec
            - --no-collector.filefd
            - --no-collector.filesystem
            - --no-collector.hwmon
            - --no-collector.infiniband
            - --no-collector.ipvs
            - --no-collector.loadavg
            - --no-collector.mdadm
            - --no-collector.meminfo
            - --no-collector.netdev
            - --no-collector.netstat
            - --no-collector.nfs
            - --no-collector.nfsd
            - --no-collector..sockstat
            - --no-collector.stat
            - --no-collector.textfile
            - --no-collector.time
            - --no-collector.timex
            - --no-collector.uname
            - --no-collector.vmstat
            - --no-collector.wifi
            - --no-collector.xfs
            - --no-collector.zfs
    {{- with .Values.puppet.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.puppet.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.puppet.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
      volumes:
        - name: puppet
          persistentVolumeClaim:
            claimName: {{ template "foreman.fullname" . }}-puppet
        - name: puppetconfig
          configMap:
            name: {{ template "foreman.fullname" . }}-puppet
        - name: proxyconfig
          configMap:
            name: {{ template "foreman.fullname" . }}-puppet-smart-proxy
{{- end}}
